{% extends 'base.html.twig' %}

{% block title %}
    Todo
{% endblock %}

{% block  h1Title %}
    Todo Liste
{% endblock %}
{% block body %}
<ol class="list-group">
    {% for title, todo in app.session.get('todos') %}
       <li class="list-group-item">
           {{ title }} : {{ todo }}
       </li>
    {% endfor %}
</ol>
{% endblock %}